__pycache__/
*.pyc

# Firebase and Google Cloud secrets
backend/firebase-service-account.json
service-account*.json
*.json.bak

# Environment and Build Folders
node_modules/
.venv/
venv/
dist/
.dist/
chroma_db/
logs/
*.env
.env.*
